# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.in-the-shadows.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\School\in-the-shadows\.idea\.idea.in-the-shadows\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
